<h1> Superadmin </h1>
<%= link_to 'Admin', "/admins" %>
<% if user_signed_in? %>
  <%= render 'active', super: @super , user: @user %>
<% else %>
   <%= render 'inactive' %>
<% end %>
<%= link_to "Create Account", "/users/sign_up" %><br />
<%= link_to "Change your password", edit_super_registration_path %>
<%= link_to "Logout", destroy_super_session_path, method: :delete, :class => 'navbar-link'  %>
