<%= form_with(model: dosen, local: true) do |form| %>
  <% if dosen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dosen.errors.count, "error") %> prohibited this dosen from being saved:</h2>

      <ul>
        <% dosen.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nip %>
    <%= form.number_field :nip %>
  </div>

  <div class="field">
    <%= form.label :nama %>
    <%= form.text_field :nama %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
