<%= form_with(model: [ @hdosen, @hdosen.sarans.build ],url: hdosen_dsarans_path(@hdosen), local: true) do |form| %>
  <div class="field">
    <%= form.label :halaman %><br>
    <%= form.number_field :halaman, class:"form-control", placeholder: "Pilih Halaman" %>
  </div>
  <div class="field">
    <%= form.label :saran %><br>
    <%= form.text_area :isi, class:"form-control", placeholder: "Ketikan Komentar Anda" %>
  </div>
  <div class="field">
    <%= form.submit "Kirim Komentar", class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
